@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
/* asterisk selector to override default styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General Styles */
body {
    display: grid;
    font-family: 'Mouse Memoirs', sans-serif;
    height: 800px;
    background-color: #f4d71e;
}

main {

    display: grid;
    align-self: center;
    grid-gap: 1rem;
    justify-content: center;
}

header {
    height: 400px;

}
.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header h1 {
    color: rgb(13, 13, 13);
    font-size: 120px;
    font-weight: lighter;
    text-align: center;
    text-shadow: 1px 1px 1px #f2dd56,
        1px 2px 1px #f9f9f9,
        1px 3px 1px #f9f9f9,
        1px 4px 1px #f9f9f9,
        1px 5px 1px #f9f9f9,
        1px 6px 1px #f9f9f9,
        1px 7px 1px #f9f9f9,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}
/* Quiz Container */
.container {
    display: grid;
    background-color: rgba(0, 0, 0);
    border: 2px #f9f9f9 solid;
    border-radius: 20px;
    outline: 1px solid #f9f9f9;
    outline-offset: -6px;
    height: 500px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 20px;
}
.top-info {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #f9f9f9;

}
/* Sound Buttons */
#sound-on {
    display: none;
}

#sound-on.active {
    display: block;
}

#sound-off {
    display: none;
}

#sound-off.active {
    display: block;
}

/* Home Screen */


.home-screen-buttons {
    display: grid;
    grid-template-columns: 3fr;
    justify-items: center;
    align-items: center;
}
button:hover {
    background: #f9f9f9;
    cursor: url('/assets/images/donut-cursor.cur'), auto;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.button {
    padding: 20px;
    background-color: #f4d71e;
    font-size: 2.5rem;
    letter-spacing: 2px;
    width: 70%;
    border-radius: 20px;
    border: 2px #fff9e6 solid;
    outline: 2px solid rgba(0, 0, 0);
    outline-offset: -8px;
    font-family: 'Mouse Memoirs', sans-serif;
}